<div class="well">
  <h2>Tasks</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>status</th>
        <th>Order</th>
        <th>Due date</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= task.title %></td>
          <td><%= task.description %></td>
          <td><%= task.status %></td>
          <td><%= task.order %></td>
          <td><%= task.due_date.strftime('%F') %></td>
          <td><%= link_to 'Show', task, class: 'btn btn-secondary' %></td>
          <td><%= link_to 'Edit', edit_task_path(task), class: "btn btn-primary" %></td>
          <td><%= link_to 'Destroy', task, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br />

  <%= link_to 'New Task', new_task_path, class: 'btn btn-success pull-right' %>

</div>
