<!DOCTYPE html>
<html>
  <head>
    <title>todoWepApp</title>
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="navbar navbar-default" role="navigation">
      <div class="app-name">
        <h1><%= link_to(app_name, url_for(root_path)) %></h1>
      </div>
    </div>

    <section>
      <div class="container">
        <div class="row">
          <div class="col col-md-8">
            <%= render 'partials/errors_alert_and_notice_messages' %>
			      <%= yield %>
          </div>
          <div class="col-6 col-md-4">
            <%= render 'partials/sidebar' %>
          </div>
        </div>
      </div>
    </section>
    <%= render 'partials/footer' %>
    <%= render 'partials/google_analytics' %>
  </body>
</html>
